@model IEnumerable<RentalMobile.Models.Tenant>
@{
    ViewBag.Title = "Tenant Profile";
    Layout = "~/Views/Shared/_Tenant.cshtml";
}
@section generalprofile{
    @*<div id="generalprofile">
            <!-- Section: slider -->
            @Html.Partial("_TenantFavorite", (object)ViewBag.TenantProfile );
        </div>
 *@
    <div id="generalprofile">
        <!-- Section: new development -->
        <h2 class="section-titling">
            New development gallery</h2>
        <ul class="row add-bottom mosaic-gallery">
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
                <div style="text-align:center">
                 @Html.ActionLink("Create New", "Create")
</div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
                <div style="text-align:center">
                 @Html.ActionLink("Create New", "Create")
</div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
                <div style="text-align:center">
                 @Html.ActionLink("Create New", "Create")
</div>
            </li>
                   <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
            <li class="four columns">
                <figure>
                    <a href="#"></a>
                    <img src="../../images/dotimages/properties/gallery-480x350.png" alt="//" class="scale-with-grid">
                </figure>
                <div class="details">
                    <h6>
                        Greenwich Village</h6>
                    <p>
                        Modern Space lorem ipsum dolor sit amet conse.</p>
                    <p class="price">
                        Price: <span>$35.000</span></p>
                    <ul class="table-list">
                        <li>Beds<span>8</span></li>
                        <li>Bathes<span>4</span></li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- /section: new development -->
    </div>
}
@section showing{
    <div id="showing" class="panel">
        <div class="seven columns">
            <h4>
                Maybe Current Showing. Then Make application or delete and might be another option
                for creating new showing</h4>
            <p>
                Enter this stately apartment and you are rewarded with a spectacular view of not
                only Central Parkoin id rhoncus massa. Pellentesque quis orci non lacus tincidunt
                scelerisque. Integer bibendum commodo urn id suscipit sapien porta in. In sollicitudin
                dui nec quam semper luctus.</p>
            <p>
                Nulla malesuada tempor mi, in dignissim tortor tempor ut. Donec semper risus feugiat
                purus fermentum nec cursus elit dignissim. Aliquam convallis hendrerit ligula sed
                ullamcorper. Phasellus porta aliquam velit quis sodales. Sed accumsan, nunc vel
                elementum pharetra, magna neque condimentum purus, nec facilisis risus arcu in elit.
                Morbi pulvinar diam aliquet risus. tristique nec interdum leo.</p>
        </div>
        <div class="six columns push by-two">
            <h4>
                General Amenities</h4>
            <ul class="arrow">
                <li>Garage</li>
                <li>Exterior lighting</li>
                <li>Dish washer</li>
                <li>Barbecue</li>
                <li>Garden</li>
                <li>Burglar alarm</li>
                <li>Swimming pool</li>
                <li>Central air</li>
            </ul>
        </div>
    </div>
}
