@model IEnumerable<RentalMobile.Models.Tenant>
@{
    ViewBag.Title = "Tenant Profile";
    Layout = "~/Views/Shared/_Tenant.cshtml";
}

@section generalprofile{

<div id="generalprofile">
            <!-- Section: slider -->
            @Html.Partial("_TenantFavorite", (object)ViewBag.TenantProfile );
        </div>
 
}

