@{
    ViewBag.Title = "Change Email Success";
    Layout = "~/Views/Shared/_ConceptLayoutPage.cshtml";
}
<section class="content">
<h2>Change Password</h2>
<p>
    Your password has been changed successfully.
</p>
</section>