@{
    ViewBag.Title = "View Profiles";
    Layout = "~/Views/Shared/Template/_ConceptLayoutPage.cshtml";
}
<h2>
    Index</h2>
<ul>
    <b>View of UserProfile</b>    
    <li>@Html.ActionLink("Tenant", "Tenant", "ViewUserProfile")</li>
    <li>@Html.ActionLink("Maintenance", "Maintenance", "ViewUserProfile")</li>
    <li>@Html.ActionLink("Owner", "OwnerorAgent", "ViewUserProfile")</li>

</ul>
